.features {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}
.features__list {
  width: 275px;
  &::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--button-color);
    margin-bottom: 30px;
  }
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__list--icon-antena::before {
  background-image: url(../images/svg/antenna.svg);
  background-size: 70px;
}
.features__list--icon-clock::before {
  background-image: url(../images/svg/clock.svg);
  background-size: 70px;
}
.features__list--icon-diagram::before {
  background-image: url(../images/svg/diagram.svg);
  background-size: 70px;
}
.features__list--icon-astronaut::before {
  background-image: url(../images/svg/astronaut.svg);
  background-size: 70px;
}
